.institution{
    display: flex;
    background-color: #f5f5f5;
}

.review-section{
    flex: 5;
    background-color: #f5f5f5;
}

.left-sidebar{
    flex: 2;
    background-color: #f5f5f5;
}

.right-sidebar{
    flex: 2;
    background-color: #f5f5f5;
}

